name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          pkg-config \
          libssl-dev \
          libglib2.0-dev \
          libasound2-dev \
          libjack-dev \
          portaudio19-dev \
          libxkbcommon-dev \
          libwayland-dev \
          libx11-dev \
          libxi-dev \
          libxrandr-dev \
          libxcursor-dev \
          libgtk-3-dev

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
